
<style>
    .banner_danhmuc{
        position: relative;
        color: white; 
        /* width; */
        height: 90vh;
        
        .cc{
            position: absolute;
            /* top: 200px;
            left: 250px; */
            /* width: 500px;
            height: 200px; */
            width: 30vw;
            height: 20vh;
            top: 20vh;
            left: 10vw;
            background-color: #272727;
        
            h1{
                font-size: 40px;
                padding: 0 10px;
                
            }
            p{
                padding: 0 10px;
            }
        }
        img{
            width: 100%;
            /* position: relative; */
            /* cursor: none; */
            user-select: none;
            height: 80vh;
            background-size: cover;
        }
    }
</style>

<div class="banner_danhmuc">
    <img src="../contents/imgs/banner/123.webp">  
    <div class="cc">
        <h1>Chuột</h1>
        <p>Chọn chuột tốt nhất cho bạn từ các thương hiệu nổi tiếng như Finalmouse, Glorious, Pulsar, Lamzu, Ninjutso, Logitech và Razer.</p>
        <p>Chuột gaming, chuột văn phòng hay những chú chuột không dây, có dây mới nhất bạn có thể tìm thấy tại Poly Computer sẽ xuất hiện tại đây.</p>
    </div>
</div>
